:root{
    --color-1: #292526;
    --color-2: #1B2028;
    --color-3: #A4AAAD;
    --color-4: #111111;
    --color-5: #FFF;
    --space-layout-padding-lr: 0px 15px;
    --space-layout-padding-top: 15px;
    --layout_imagen-width: 100%;
    --layout_imagen-height: 350px;

    --layout_imagen-width-checkout: 70px;
    --layout_imagen-height-checkout: 70px;

    --layout_imagen-width-detail:
}
@font-face {
    font-family: "EncodeSans-Regular";
    src: url("../storage/font/encode-sans/EncodeSans-Regular.ttf");
}
@font-face {
    font-family: "EncodeSans-Medium";
    src: url("../storage/font/encode-sans/EncodeSans-Medium.ttf");
}
@font-face {
    font-family: "EncodeSans-SemiBold";
    src: url("../storage/font/encode-sans/EncodeSans-SemiBold.ttf");
}
@font-face {
    font-family: "EncodeSans-Bold";
    src: url("../storage/font/encode-sans/EncodeSans-Bold.ttf");
}