body {
    background-color: black;
}

#contenedor {
    display: flex; /* Utilizamos flexbox */
    height: 100vh;
}

.izquierda,
.derecha {
    width: 50%;
    height: 100%;
}

/* Opcional: si quieres mantener las imágenes del mismo tamaño y centradas verticalmente */
.izquierda img,
.derecha img {
    display: block;
    width: 100%;
    margin: auto; /* Centra verticalmente las imágenes */
}